In [3]:
def test1():
    print("This is my first function.")

In [5]:
test1()

This is my first function.

In [16]:
def test2():
    return "Anu" , 12 , 45 ,[2, 3, 4, 5]

In [17]:
test2()

('Anu', 12, 45, [2, 3, 4, 5])

In [18]:
a,b,c,d = test2()

In [19]:
a

'Anu'

In [20]:
b

12

In [21]:
c

45

In [22]:
d

[2, 3, 4, 5]

In [25]:
def test3():
    a = 8/2
    return a

In [27]:
test3()

4.0

In [28]:
def test4(a,b,c):
    d = a+b/46
    return d

In [30]:
test4(2,3,4)

2.0652173913043477

In [32]:
def test5(a,b):
    return a+b

In [35]:
test5(4,5)

9

In [38]:
test5('Anurag',' Pandey')

'Anurag Pandey'

In [52]:
l = [[2,3,4,5], 4.50, "Anu", "Pan",5,6,7,8,9,0]

In [53]:
l1 = []
for i in l : 
    if type(i) == int or type(i) == float :
        l1.append(i)

In [54]:
l1

[4.5, 5, 6, 7, 8, 9, 0]

In [58]:
def test6(l):
    l1 = []
    for i in l : 
        if type(i) == int or type(i) == float :
             l1.append(i)
    return l1

In [59]:
test6(l)

[4.5, 5, 6, 7, 8, 9, 0]

In [27]:
l = [5,6,7, 4.50, "Anu", "Pan", [2,3,4,5]]

In [28]:
def test7(a) :
    l = []
    for i in a :
        if type(i) == list :
            for j in i :
                l.append(j)
        else : 
            if type(i) == int or type(i) == float :
                l.append(i)
    return l

In [29]:
test7(l)

[5, 6, 7, 4.5, 2, 3, 4, 5]

In [30]:
l

[5, 6, 7, 4.5, 'Anu', 'Pan', [2, 3, 4, 5]]

In [5]:
def test8(*args):
    return args

In [6]:
test8()

()

In [7]:
type(test8())

tuple

In [8]:
test8(2,4,5,6)

(2, 4, 5, 6)

In [9]:
def test9(*anur) :
    return anur

In [11]:
test9('Pandu', 'Anur', [4.0,5,6,7])

('Pandu', 'Anur', [4.0, 5, 6, 7])

In [12]:
def test10(*args, a):
    return args,a       #for using int/float in the tuples.

In [14]:
test10(5,6,7,8, a=34)

((5, 6, 7, 8), 34)

In [16]:
def test11(a, b, c = 10, d = 20):
    return a, b, c, d

In [17]:
test11()

TypeError: test11() missing 2 required positional arguments: 'a' and 'b'

In [18]:
test11(2,3)

(2, 3, 10, 20)

In [21]:
test11(2, 3, c=200, d=400 ) #Over-write kar sakte h....

(2, 3, 200, 400)

In [26]:
def test12(**kwarg):
    return kwarg       #for using print key in the dic.

In [27]:
test12()

{}

In [28]:
type(test12())

dict

In [29]:
test12(a = [5,6,7], b = 4.50, c = "riya")

{'a': [5, 6, 7], 'b': 4.5, 'c': 'riya'}

GENERATOR FUNCTION

In [2]:
range(10)

range(0, 10)

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [14]:
def test_fib(n) :
    a,b = 0,1
    for i in range (n):
        yield a
        a,b = b, a+b

In [15]:
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [1]:
s = "ANURAG"

In [2]:
s1 = iter(s)

In [11]:
type(s1)

str_ascii_iterator

In [3]:
next(s1)

'A'

In [4]:
next(s1)

'N'

In [5]:
next(s1)

'U'

In [6]:
next(s1)

'R'

In [7]:
next(s1)

'A'

In [8]:
next(s1)

'G'

In [12]:
s

'ANURAG'

In [13]:
for i in s:
    print(i)

A
N
U
R
A
G

In [16]:
def test_fib1() :
    a,b = 0,1           #Concept of while loop.
    while True:
        yield a
        a,b = b, a+b

In [17]:
fib = test_fib1()

In [18]:
for i in range(10):
    print(next(fib))

0
1
1
2
3
5
8
13
21
34

In [23]:
def count_test(n):
    count = 1
    while count <= n:
        yield count
        count = count + 1

In [24]:
c = count_test(5)

In [25]:
for i in c:
    print(i)

1
2
3
4
5

LAMBDA FUNCTION

In [12]:
a = lambda n,p : n**p

In [13]:
a(2,3)

8

In [14]:
power = lambda n,p : n**p

In [15]:
power(2,3)

8

In [16]:
add = lambda n,p : n+p

In [17]:
add(2,3)

5

In [18]:
sub = lambda n,p : n-p

In [19]:
sub(3,2)

1

In [25]:
division = lambda n,p : n/p

In [28]:
division(4,2)

2.0

In [29]:
cel_to_fer = lambda c : (9/5)*c + 32

In [30]:
cel_to_fer(14)

57.2

In [31]:
finding_max = lambda x,y : x if x>y else y

In [32]:
finding_max(22,25)

25

In [33]:
finding_max(37,29)

37

In [34]:
a = "anurag"

In [35]:
find_len = lambda a : len(a)

In [37]:
find_len(a)

6

MAP REDUCE AND FILTER FUNCTION

In [42]:
l = [7,8,9,6,5,4]

In [43]:
def test9(l):
    l1 = []
    for i in l :
        l1.append(i**2)
    return l1

In [47]:
test9(l)

[49, 64, 81, 36, 25, 16]

In [50]:
l

[7, 8, 9, 6, 5, 4]

In [51]:
def sq(x):
    return x**2

In [53]:
list(map(sq,l))    #List Sq Using Map Function

[49, 64, 81, 36, 25, 16]

In [54]:
list(map(lambda x : x**2, l))  #Listt Sq Using Lambda Function and map function.

[49, 64, 81, 36, 25, 16]

In [1]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
list(map(lambda x,y : x+y,l1,l2))

[7, 9, 11, 13, 15]

In [2]:
def add (x,y):
    return x+y

In [5]:
list(map(add,l1,l2))

[7, 9, 11, 13, 15]

In [10]:
a = "anuragpandey"
list(map(lambda a : a.upper(),a ))

['A', 'N', 'U', 'R', 'A', 'G', 'P', 'A', 'N', 'D', 'E', 'Y']

In [1]:
# Define a function to square a number
def square(x):
    return x ** 2

# Create a list of numbers
numbers = [1, 2, 3, 4, 5]

# Use map() to apply the square function to each element in the list
squared_numbers = map(square, numbers)

# Convert the result to a list
squared_numbers_list = list(squared_numbers)

print(squared_numbers_list)

[1, 4, 9, 16, 25]

REDUCE

In [11]:
from functools import reduce

In [12]:
l = [1,2,3,4,5,6,7,8,9]

In [13]:
reduce(lambda x,y : x+y, l)

45

In [15]:
reduce(lambda x,y : x*y, l)

362880

In [16]:
reduce(lambda x,y : x-y, l)

-43

In [17]:
reduce(lambda x,y : x/y, l)

2.7557319223985893e-06

In [18]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
reduce(lambda x,y : x if x>y else y, l)   #MAX VALUE OF LIST

9

In [22]:
reduce(lambda x,y : x if x<y else y, l)   #MIN VALUE OF LIST

1

FILTER

In [3]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list(filter(lambda x : x%2 != 0, l )) #FILTER ODD

[1, 3, 5, 7, 9]

In [7]:
list(filter(lambda x : x%2 == 0, l )) #FILTER EVEN

[2, 4, 6, 8]

In [8]:
l1 = [-3, -4, -6, 2, 4, 6]

In [10]:
list(filter(lambda x : x<0, l1))

[-3, -4, -6]

In [11]:
l2 = ["Anur", "Pand", "rishabh"]

In [16]:
list(filter(lambda x: len(x)<6, l2))

['Anur', 'Pand']