In [1]:
import platform
print(platform.python_version())

3.11.5

In [5]:
# Import the 'datetime' module to work with date and time
import datetime

# Get the current date and time
now = datetime.datetime.now()

# Create a datetime object representing the current date and time

# Display a message indicating what is being printed
print("Current date and time : ")

# Print the current date and time in a specific format
print(now.strftime("%Y-%m-%d %H:%M:%S"))

# Use the 'strftime' method to format the datetime object as a string with the desired format

Current date and time :
2023-10-29 00:42:15

In [6]:
# Import the 'pi' constant from the 'math' module to calculate the area of a circle
from math import pi

# Prompt the user to input the radius of the circle
r = float(input("Input the radius of the circle : "))

# Calculate the area of the circle using the formula: area = Ï€ * r^2
area = pi * r ** 2

# Display the result, including the radius and calculated area
print("The area of the circle with radius " + str(r) + " is: " + str(area))

The area of the circle with radius 2.0 is: 12.566370614359172

In [3]:
d1 = {}

In [4]:
type(d1)

dict

In [5]:
d2 = {'Name' : 'Anurag Pandey', 'Email' : 'ap@gmail.com', 'Phone no' : 7089219061}

In [6]:
d2

{'Name': 'Anurag Pandey', 'Email': 'ap@gmail.com', 'Phone no': 7089219061}

In [7]:
d3 = {'Name' : 'Raj Pandey', @email : 'ddsingh'}

SyntaxError: invalid syntax (1288359454.py, line 1)

In [9]:
d4 = {234 : "Anur", '_war' : "Pandey", True : 572}

In [11]:
d4[234]

'Anur'

In [12]:
d4['_war']

'Pandey'

In [13]:
d4[True]

572

In [14]:
d5 = {'name': "Anurag", 'email_id': "ap@gmail.com", 'name': "Anur"}

In [17]:
d5['name'] #the output will be unique not 1 or last.

'Anurag'

In [18]:
d6 = {'compony' : "pwskills", 'course' : ["web dev", "data science", "java with dsa"]}

In [19]:
d6

{'compony': 'pwskills', 'course': ['web dev', 'data science', 'java with dsa']}

In [21]:
d6['course'][1]

'data science'

In [23]:
d6['compony'][6]

'l'

In [24]:
,# d2 = {key : value as a dic}

In [25]:
d7 = {'number' : [2,3,4,5,6], 'assignment' : (7,8,9), 'launch_date' : {12,14,28}, 'class_time' : {"web dev" : 8, "data science master" : 9 }}

In [26]:
d7

{'number': [2, 3, 4, 5, 6],
 'assignment': (7, 8, 9),
 'launch_date': {12, 14, 28},
 'class_time': {'web dev': 8, 'data science master': 9}}

In [28]:
d7['data science master'][0] #this is wrong way.

KeyError: 'data science master'

In [31]:
d7['class_time'] #this is the write way to execute.

{'web dev': 8, 'data science master': 9}

In [32]:
d7['class_time']['data science master']

9

In [33]:
d7['mentor'] = ["Sudh", "Anur", "Krish"] #ADD THE KEY

In [34]:
d7

{'number': [2, 3, 4, 5, 6],
 'assignment': (7, 8, 9),
 'launch_date': {12, 14, 28},
 'class_time': {'web dev': 8, 'data science master': 9},
 'mentor': ['Sudh', 'Anur', 'Krish']}

In [35]:
del d7['launch_date'] #DELETE THE KEY

In [36]:
d7

{'number': [2, 3, 4, 5, 6],
 'assignment': (7, 8, 9),
 'class_time': {'web dev': 8, 'data science master': 9},
 'mentor': ['Sudh', 'Anur', 'Krish']}

In [37]:
d7.keys()

dict_keys(['number', 'assignment', 'class_time', 'mentor'])

In [38]:
list(d7.keys())  #converted into list.

['number', 'assignment', 'class_time', 'mentor']

In [39]:
d7.values()

dict_values([[2, 3, 4, 5, 6], (7, 8, 9), {'web dev': 8, 'data science master': 9}, ['Sudh', 'Anur', 'Krish']])

In [41]:
list(d7.values())

[[2, 3, 4, 5, 6],
 (7, 8, 9),
 {'web dev': 8, 'data science master': 9},
 ['Sudh', 'Anur', 'Krish']]

In [42]:
tuple(d7.values())

([2, 3, 4, 5, 6],
 (7, 8, 9),
 {'web dev': 8, 'data science master': 9},
 ['Sudh', 'Anur', 'Krish'])

In [46]:
set[d7.values()]

set[dict_values([[2, 3, 4, 5, 6], (7, 8, 9), {'web dev': 8, 'data science master': 9}, ['Sudh', 'Anur', 'Krish']])]

In [47]:
d7.items() #Pair of key & values.

dict_items([('number', [2, 3, 4, 5, 6]), ('assignment', (7, 8, 9)), ('class_time', {'web dev': 8, 'data science master': 9}), ('mentor', ['Sudh', 'Anur', 'Krish'])])

In [48]:
list(d7.items())

[('number', [2, 3, 4, 5, 6]),
 ('assignment', (7, 8, 9)),
 ('class_time', {'web dev': 8, 'data science master': 9}),
 ('mentor', ['Sudh', 'Anur', 'Krish'])]

In [49]:
d7.pop() #IN CASE OF LIST THE LAST VALUE ARE REMOVED.

TypeError: pop expected at least 1 argument, got 0

In [50]:
d7.pop('assignment')

(7, 8, 9)

In [51]:
d7

{'number': [2, 3, 4, 5, 6],
 'class_time': {'web dev': 8, 'data science master': 9},
 'mentor': ['Sudh', 'Anur', 'Krish']}

In [54]:
marks = 45
if marks >= 80 : # <- indentation.
    print("You Will a Part of A0 Batch")
elif marks >= 60 and marks<80 :
    print("you will be a part of A1 batch")
elif marks >= 40 and marks < 60 :               #isme humko baar baar upper me marks change karna padta h.
    print("you will be a part of A2 batch")
else :
    print("you will be a part of A3 batch")

you will be a part of A2 batch

In [55]:
marks = 10
if marks >= 80 : # <- indentation.
    print("You Will a Part of A0 Batch")
elif marks >= 60 and marks<80 :
    print("you will be a part of A1 batch")
elif marks >= 40 and marks < 60 :
    print("you will be a part of A2 batch")
else :
    print("you will be a part of A3 batch")

you will be a part of A3 batch

In [57]:
marks = input("Enter Your Marks")

In [58]:
marks

'25'

In [59]:
type (marks)

str

In [1]:
marks = int(input("Enter Your Marks"))
if marks >= 80 : # <- indentation.
    print("You Will a Part of A0 Batch")
elif marks >= 60 and marks<80 :
    print("you will be a part of A1 batch") #isme humre pass erxecute karne ka option rehta h.
elif marks >= 40 and marks < 60 :
    print("you will be a part of A2 batch")
else :
    print("you will be a part of A3 batch")

you will be a part of A3 batch

In [2]:
price = int(input("Enter Price"))
if price > 2000 :
    print("i will not purchese")   #input iss 1000/-
else :
    print("i will purchese")

i will purchese

In [3]:
price = int(input("Enter Price"))
if price > 2000 :
    print("i will not purchese")       #input is 2001/-
else :
    print("i will purchese")

i will not purchese

In [7]:
price = int(input("Enter Price"))
if price > 2000 :
    print("i will not purchese")     #Nested Condition
if price > 5000 :
    print("this is too much expensive")

i will not purchese
this is too much expensive

In [1]:
l = [1,2,2,3,4,5,6,7,7,8]

In [6]:
for i in l :
    print(i)

1
2
2
3
4
5
6
7
7
8

In [7]:
for i in l :
    print(l)

[1, 2, 2, 3, 4, 5, 6, 7, 7, 8]
[1, 2, 2, 3, 4, 5, 6, 7, 7, 8]
[1, 2, 2, 3, 4, 5, 6, 7, 7, 8]
[1, 2, 2, 3, 4, 5, 6, 7, 7, 8]
[1, 2, 2, 3, 4, 5, 6, 7, 7, 8]
[1, 2, 2, 3, 4, 5, 6, 7, 7, 8]
[1, 2, 2, 3, 4, 5, 6, 7, 7, 8]
[1, 2, 2, 3, 4, 5, 6, 7, 7, 8]
[1, 2, 2, 3, 4, 5, 6, 7, 7, 8]
[1, 2, 2, 3, 4, 5, 6, 7, 7, 8]

In [8]:
for i in l :
    print(i+1)    # +1 in input.

2
3
3
4
5
6
7
8
8
9

In [11]:
l1 = []
for i in l :
    print(i+1)            #LIST MEY +1 KAR DIYE AUR ANSWER BHEE LIST ME HI AAYA H.
    l1.append(i+1)
l1

2
3
3
4
5
6
7
8
8
9

[2, 3, 3, 4, 5, 6, 7, 8, 8, 9]

In [13]:
l = ["anur", "pandey", "data science"]

In [15]:
l1 = []
for i in l :
    print(i)
    l1.append(i.upper())

anur
pandey
data science

In [16]:
l1

['ANUR', 'PANDEY', 'DATA SCIENCE']

In [17]:
l = [1,2,3,4,"Anu","Pandey",4.259,"Data Science"]

In [18]:
l1_num = []
l2_str = []
for i in l :
    if type(i) == int or type(i) == float:
        l1_num.append(i)              #SAPRATE A INT/FLOAT AND STRING IN THE LIST
    else :
        l2_str.append(i)

In [19]:
l1_num

[1, 2, 3, 4, 4.259]

In [20]:
l2_str

['Anu', 'Pandey', 'Data Science']